<div class="tablegame">
    <div class="second"><p id="messagewait">Attendo i giocatori..</p><div id="mazzo" class="mazzo cempty"></div><div id="briscola" class="cempty"></div></div>
    <div class="playerswrap">
        <div class="deck rot-{{m.indx}}" *ngFor="let m of Mazzi">
            <div class="cempty" id={{m.ids[0]}}></div>
            <div class="cempty" id={{m.ids[1]}}></div>
            <div class="cempty" id={{m.ids[2]}}></div>
        </div>
    </div>
    <!-- <div class="third">
        <div class="sx cempty"></div><div class="mid cempty"></div><div class="dx cempty"></div>
    </div> -->
    <div *ngFor="let m of Mazzi" id={{m.playerId}}></div>
    <!-- <div id="player1"></div> -->
</div>
<swal #mySwal title="Il vincitore è..." text="" icon="info"></swal>