<div class="tablegame">
    <div class="second"><p id="messagewait">Attendo i giocatori..</p><div id="mazzo" class="mazzo cempty"></div><div id="briscola" class="cempty"></div></div>
    <div class="playerswrap">
        <div class="deck rot-{{m.indx}}" *ngFor="let m of Mazzi">
            <div [class]="m.cards[0].cls" (click)="m.cards[0].c()"></div>
            <div [class]="m.cards[1].cls" (click)="m.cards[1].c()"></div>
            <div [class]="m.cards[2].cls" (click)="m.cards[2].c()"></div>
            <div *ngIf="m.indx===1" id="Points">{{Points}}</div>
        </div>
    </div>
    <!-- <div class="third">
        <div class="sx cempty"></div><div class="mid cempty"></div><div class="dx cempty"></div>
    </div> -->
    <div *ngFor="let m of Mazzi" id={{m.playerId}}></div>
    <!-- <div id="player1"></div> -->
</div>
<swal #mySwal title="Il vincitore è..." text="" icon="info"></swal>