/*.tablegame {height: 100vh; width: 100%; text-align: center;display: flex;align-items: center;flex-direction: column;justify-content: space-between;padding: 25px;}*/
.playerswrap {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.deck {display: flex; gap:10px; padding:15px}

.rot-1 {
    order: 999;
}

.rot-2, .rot-3 {
    transform: scale(0.6) rotate(90deg);
    position: absolute;
    margin: auto;
    bottom: 0;
    top: 0;
}

.rot-1 .cpick {
    transform: translateY(-30px) !important;
}
.rot-0 .cpick {
    transform: translateY(30px) !important;
}

.rot-3 .cpick {
    transform: translateY(20px) !important;
}

.rot-2 .cpick {
    transform: translateY(20px) !important;
}

.rot-0 div ,.rot-1 div, .rot-2 div, .rot-3 div {
    transition: transform 1s ease;
}

.deck.rot-1 div:hover {
    transform: translateY(-10px);
}

.rot-2 {
    pointer-events: none;
}

.rot-3 {
    transform: scale(0.6) rotate(270deg);
    pointer-events: none;
}

.first, .second, .third {display: flex;gap: 20px;}


.midr {transform: translateY(5px);}
.rot-1 div:nth-child(2) {transform: translateY(-5px);}
.rot-1 div:nth-child(1), .rot-0 div:nth-child(3) {transform: rotate(355deg);}
.rot-1 div:nth-child(3), .rot-0 div:nth-child(1) {transform: rotate(5deg);}
.rot-0 div:nth-child(2) {transform: translateY(5px);}

.second {
    position: absolute;
    left: 0;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;gap:50px;
    justify-content: center;
    align-items: center;
    transform: scale(0.85);
}

.tbc {
    animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}