@charset "utf-8";

:root {
    --c1: #fff;
    --c2: black;
    --c3: #13781D;
    --c4: #FFC700;
    --c5: #197592;
    --f1: "Bubble Garden Regular";
    --f2: "Bubble Garden Bold"
}

@font-face {
    font-family: 'Bubble Garden Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bubble Garden Regular'), url('/assets/BubbleGarden-rgj9L.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Bubble Garden Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Bubble Garden Bold'), url('/assets/BubbleGardenBold-Yz7d4.woff') format('woff');
    }

    html body.swal2-height-auto {
      height: 100vh !important
    }

    body {
    margin: 0 auto;
    height: 100svh;
    width: 100%;
    max-width: 414px;
    overflow-x: hidden;
    background: radial-gradient(circle, rgba(64,163,74,1) 0%, rgba(19,120,29,1) 100%);
    }

.btnb {
    border: white 1px solid;
    background-color: var(--c4);
    color: var(--c1);
    width: 130px;
    height: 55px;
    border-radius: 10px;
    font-size: 31px;
    font-family: var(--f1);
    text-align: center;
}

.btnb.btn-blue {
    background-color: var(--c5);
}

.briscola {transform: rotate(90deg);}

.mazzo {background: url('./assets/bc_noshadow.png') no-repeat 0px 0;width: 79px;height: 133px;opacity: 1 !important;background-color: transparent !important;}

.bc {background: url('./assets/bc.png') no-repeat 0px 0;width: 79px;height: 133px;}

/* SPADE 0 */
.s1 {background: url('./assets/s.png') no-repeat 0px 0;width: 79px;height: 133px;}
.s2 {background: url('./assets/s.png') no-repeat -113px 0;width: 79px;height: 133px;}
.s3 {background: url('./assets/s.png') no-repeat -226px 0;width: 79px;height: 133px;}
.s4 {background: url('./assets/s.png') no-repeat -337px 0;width: 79px;height: 133px;}
.s5 {background: url('./assets/s.png') no-repeat -449px 0;width: 79px;height: 133px;}
.s6 {background: url('./assets/s.png') no-repeat -557px 0;width: 79px;height: 133px;}
.s7 {background: url('./assets/s.png') no-repeat -672px 0;width: 79px;height: 133px;}
.s8 {background: url('./assets/s.png') no-repeat -780px 0;width: 79px;height: 133px;}
.s9 {background: url('./assets/s.png') no-repeat -895px 0;width: 79px;height: 133px;}
.s10 {background: url('./assets/s.png') no-repeat -1010px 0;width: 79px;height: 133px;}

/* COPPE 1 */
.c1 {background: url('./assets/c.png') no-repeat 0px -7px;width: 79px;height: 133px;}
.c2 {background: url('./assets/c.png') no-repeat -111px -8px;width: 79px;height: 133px;}
.c3 {background: url('./assets/c.png') no-repeat -226px -8px;width: 79px;height: 133px;}
.c4 {background: url('./assets/c.png') no-repeat -334px -8px;width: 79px;height: 133px;}
.c5 {background: url('./assets/c.png') no-repeat -449px -8px;width: 79px;height: 133px;}
.c6 {background: url('./assets/c.png') no-repeat -557px -8px;width: 79px;height: 133px;}
.c7 {background: url('./assets/c.png') no-repeat -672px -8px;width: 79px;height: 133px;}
.c8 {background: url('./assets/c.png') no-repeat -780px -8px;width: 79px;height: 133px;}
.c9 {background: url('./assets/c.png') no-repeat -895px -8px;width: 79px;height: 133px;}
.c10 {background: url('./assets/c.png') no-repeat -1010px -8px;width: 79px;height: 133px;}

/* DENARI 2 */
.d1 {background: url('./assets/d.png') no-repeat 0px 0;width: 79px;height: 133px;}
.d2 {background: url('./assets/d.png') no-repeat -111px 0;width: 79px;height: 133px;}
.d3 {background: url('./assets/d.png') no-repeat -222px 0;width: 79px;height: 133px;}
.d4 {background: url('./assets/d.png') no-repeat -337px 0;width: 79px;height: 133px;}
.d5 {background: url('./assets/d.png') no-repeat -449px 0;width: 79px;height: 133px;}
.d6 {background: url('./assets/d.png') no-repeat -557px 0;width: 79px;height: 133px;}
.d7 {background: url('./assets/d.png') no-repeat -676px 0;width: 79px;height: 133px;}
.d8 {background: url('./assets/d.png') no-repeat -780px 0;width: 79px;height: 133px;}
.d9 {background: url('./assets/d.png') no-repeat -895px 0;width: 79px;height: 133px;}
.d10 {background: url('./assets/d.png') no-repeat -1010px 0;width: 79px;height: 133px;}

/* BASTONI 3 */
.b1 {background: url('./assets/b.png') no-repeat 0px -2px;width: 79px;height: 133px;}
.b2 {background: url('./assets/b.png') no-repeat -111px -2px;width: 79px;height: 133px;}
.b3 {background: url('./assets/b.png') no-repeat -226px -3px;width: 79px;height: 133px;}
.b4 {background: url('./assets/b.png') no-repeat -334px -3px;width: 79px;height: 133px;}
.b5 {background: url('./assets/b.png') no-repeat -449px -3px;width: 79px;height: 133px;}
.b6 {background: url('./assets/b.png') no-repeat -557px -3px;width: 79px;height: 133px;}
.b7 {background: url('./assets/b.png') no-repeat -672px -3px;width: 79px;height: 133px;}
.b8 {background: url('./assets/b.png') no-repeat -780px -3px;width: 79px;height: 133px;}
.b9 {background: url('./assets/b.png') no-repeat -895px -3px;width: 79px;height: 133px;}
.b10 {background: url('./assets/b.png') no-repeat -1010px -3px;width: 79px;height: 133px;}


.cempty {background-color: white; opacity: 0.3;border-radius: 4.25px;width: 79px;height: 133px;}