<div class="newgame">
    <img src="./assets/logo.png" class="mainlogo img-fluid"/>
    <button id="mainmenu" (click)="setup()" class="btnb mb-3">CREA</button>
    <button id="unisciti" (click)="unisciti()" class="btnb btn-blue">UNISCITI</button>
    <div id="menusettings" class="menusettings" hidden="true">
        <div class="mb-2">
        <p>USERNAME</p>
        <input id="username-0" type="text"/>
        </div>
        <div class="wrapcheck">
            <div>
            <p>CON AMICI</p>
            <input id="online" (change)="shownum()" name="onlineoff" type="radio"/>
            </div>
            <div>
            <p>DA SOLO</p>
            <input id="singleplayer" (change)="hidenum()" name="onlineoff" type="radio"/>
            </div>
        </div>
        <div class="mt-2 mb-2">
            <div id="onlinecheck">
                <p>QUANTI GIOCATORI?</p>
                <input id="nplayers" type="number" min="2" max="4"/>
            </div>
        </div>
        <button id="mainmenu" (click)="connect()" class="btnb mt-3">PLAY</button>
    </div>
    <div id="uniscitisettings" class="menusettings" hidden="true">
        <div class="mb-2">
        <p>USERNAME</p>
        <input id="username-1" type="text"/>
        </div>
        <div class="mt-2 mb-2">
            <div id="onlinecheck">
                <p>ID PARTITA</p>
                <input id="idpartita" type="number"/>
            </div>
        </div>
        <button id="mainmenu" (click)="uniscitiid()" class="btnb btn-blue mt-3">UNISCITI</button>
    </div>
    <!--<button class="btnb" (click)="connect()">PLAY</button>-->
</div>
<swal #mySwal title="Codice partita" text="" icon="info"></swal>